@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Nanum Gothic', 'Open Sans', Arial, sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: red;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

/* Header and Footer
-------------------------*/
header, footer {
  background: black;
  color: white;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2 {
  color: white;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
}
.profile-pic {
  background: url("../images/profile.png") no-repeat;
  background-size: 250px;
  width: 250px;
  height: 250px;
  float: left;
}
.profile-pic:hover {
  background: url("../images/profile-glitch3.gif") no-repeat;
  background-size: 250px;
  width: 250px;
  height: 250px;
  float: left;
}


/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  /*z-index: 100;*/
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}


/* Work Experience
-------------------------*/
.work {
  background: white;
}
h3 ~ p {
  margin: 0;
  font-family: 'Nanum Gothic', 'Open Sans', Arial, sans-serif;
}
.job-description {
  margin-bottom: 25px;
  font-family: 'Nanum Gothic', 'Open Sans', Arial, sans-serif;
}
.job-description p:first-of-type {
  margin-top: 0;
}


/* Education
-------------------------*/
.education {
  background: linear-gradient(rgba(141, 153, 174, 0.9), rgba(141, 153, 174, 0.6)),
  url(../images/roboTest/squad.jpg) no-repeat fixed;
  background-size: cover;
}
p + h3 {
  margin-top: 30px;
}


/* Media Queries */
@media (min-width: 900px) {
  .col-narrow {
    float: left;
    width: 30%
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 40px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
